.bigwords{
    display: block;
    block-size: 6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: lighter;
    padding-top: 1.5rem;
    padding-right: 4rem;
    text-align:center;
}

.text{
    display: block;
    float: left;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding-left: 4rem;
    padding-top: 1rem;
}
