.title{
    display: block;
    margin-top: 12rem;
    margin-left: 6rem;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    float: left;
    width: 40%;
}

.mapimg{
    size: 150px 150px;
    float: right;
    width: 40%;
    padding: 10px;
    margin-top: 9rem;
}
