
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

/*navbar styling*/

.navbar{
    display: block;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 2px solid rgb(223, 251, 219);
}

.website-name{
    text-align: center;
}

.nav-menu{
    position:fixed;
    top: 6rem;
    left: 18px;
    background-color: rgb(84, 170, 105);
    font-weight: 600;
    text-align:center;
    display:inline-flex;
}
.nav-menu a{
    display: block;
    text-align: center;
    padding: 5px 0;
}
.nav-menu a:hover{
    background-color: rgb(223, 251, 219);
}

.website-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hide{
    display: inline-block;
}

/*for Desktop view, investigate error on screen */
@media screen and (min-width:600px){
    .navbar{
        justify-content: space-around;
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin: right 20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
    }
    .nav-menu a:hover{
        background-color: rgb(223, 251, 219);
        border-radius: 5px;
    }
    .hamburger-menu{
        display: block;
    }
}
